**Importing necessary libraries**

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

**Loadind Data set**

In [2]:
df = pd.read_csv('D:\Ostad DS Course\Data Science\Data set/UberDataset.csv')
df

NameError: name 'pd' is not defined

**Checking NULL VALUE on data-set**

In [ ]:
df.isnull().sum()

**Checking NULL VALUE on PURPOSE Column**

In [ ]:
df['PURPOSE'].isnull().sum()

**Converting NULL VALUE of PURPOSE column into empty string**

In [1]:
df['PURPOSE'].fillna(value = 'NULL VALUE',inplace=True)
df.head()

NameError: name 'df' is not defined

**Total value on PURPOSE Column**

In [ ]:
df['PURPOSE'].count()

**NULL VALUE of PURPOSE column after converting inti empty string**

In [ ]:
df.isnull().sum()

**Checking Min. , Max. value on MILES (numeric value) column**

In [ ]:
df['MILES'].min()

In [ ]:
df['MILES'].max()

**Total criteria on PURPOSE column**

In [ ]:
df['PURPOSE'].unique()

**Statistical analysis on data set**

In [ ]:
df.describe(include='all')

**Summation of MILES column**

In [ ]:
df['MILES'].sum()

**Grouping all PURPOSE's with relate to other parameters**

In [ ]:
z = df.groupby('PURPOSE').sum()
z

In [ ]:
#df.groupby('CATEGORY').count()

**Catagorizing PURPOSE VALUE corresponding with CATEGORY VALUE**

In [ ]:
df.groupby('CATEGORY').count()[['PURPOSE']]

**Checking PURPOSE and CATEGORY VALUE type**

In [ ]:
print(df['CATEGORY'].dtype)

print(df['PURPOSE'].dtype)

In [ ]:
df

**Printing plot after converting PURPOSE NULL VALUE into empty sting**

In [ ]:
x = df['CATEGORY']
y = df['PURPOSE']

In [ ]:
plt.plot(x, y)

**Printing Scatter-plot after converting PURPOSE NULL VALUE into empty sting**

In [ ]:
plt.scatter(x, y)

plt.xlabel('CATEGORY')
plt.ylabel('PURPOSE')

plt.show()

**Total value of CATEGORY COLUMN**

In [ ]:
df['CATEGORY'].count()

**Catagorizing CATEGORY-CAL VALUE corresponding with PURPOSE VALUE**

In [ ]:
df.groupby('PURPOSE').count()[['CATEGORY']]

In [ ]:
df['CATEGORY'].hist(bins=20, edgecolor='black',figsize=(10,3))

In [ ]:
df['PURPOSE'].hist(bins=20, edgecolor='black',figsize=(15,4))

In [ ]:
df

**Calculating CATEGORICAL VALUE with MILES column**

In [ ]:
x = df['MILES']
y = df['CATEGORY']

In [ ]:
plt.scatter(x, y)

plt.xlabel('MILES')
plt.ylabel('CATEGORY')

plt.show()

In [ ]:
x = df['CATEGORY']
y = df['MILES']

plt.plot(x, y)

plt.xlabel('CATEGORY')
plt.ylabel('MILES')

plt.show()

**Calculating PURPOSE validity with MILES column**

In [ ]:
x = df['MILES']
y = df['PURPOSE']

In [ ]:
plt.scatter(x, y)

plt.xlabel('MILES')
plt.ylabel('PURPOSE')

plt.show()